<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
			body{
				margin: 5px;
                background-color: aqua;
				}
            h1{
            color: blue;
            font-size: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Train Timings</h1>
        <table class="table table-success table-striped table-bordered ">
            <thead>
              <tr>
                <th scope="col">Sl.No</th>
                <th scope="col">Train</th>
                <th scope="col">Name</th>
                <th scope="col">Run Days</th>
                <th scope="col">Arrival Time(HRS)</th>
                <th scope="col">Duration</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>12267</td>
                <td>Mumbai Central - Ahmedabad Ac Duronto Exp</td>
                <td>M,T,W,T,F,S,S</td>
                <td>23:25</td>
                <td>17 hours</td>
                <td>17/12/2021</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>12268</td>
                <td>AHMEDABAD - MUMBAI CENT AC DURONTO EXP</td>
                <td>M,T,W,T,F,S,S</td>
                <td>9:25</td>
                <td>17 hours</td>
                <td>19/12/2021</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>22268</td>
                <td>KOLKATA SEALDAH - PURI DURONTO EXPRESS</td>
                <td>M,T,W,T,F,S,S</td>
                <td>9:25</td>
                <td>17 hours</td>
                <td>20/03/2021</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>22269</td>
                    <td>AHMEDABAD - MUMBAI CENT AC DURONTO EXP</td>
                    <td>M,T,W,T,F,S,S</td>
                    <td>10:25</td>
                    <td>16 hours</td>
                    <td>25/03/2021</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>32222</td>
                    <td>SECUNDERABAD - VISAKHAPATNAM AC DURONTO EXPRESS</td>
                    <td>M,T,W,T,F,S,S</td>
                    <td>10:25</td>
                    <td>16 hours</td>
                    <td>22/04/2021</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>32223</td>
                    <td>MADURAI - CHENNAI CENTRAL AC DURONTO EXPRESS</td>
                    <td>M,T,W,T,F,S,S</td>
                    <td>11:25</td>
                    <td>16 hours</td>
                    <td>12/04/2021</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>32225</td>
                    <td>JAMMU TAWI - NEW DELHI RAJDHANI EXPRESS</td>
                    <td>M,T,W,T,F,S,S</td>
                    <td>12:25</td>
                    <td>16 hours</td>
                    <td>12/04/2021</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>32226</td>
                    <td>SECUNDERABAD - HAZRAT NIZAMUDDIN RAJDHANI EXPRESS</td>
                    <td>Wed</td>
                    <td>12:25</td>
                    <td>10 hours</td>
                    <td>15/04/2021</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>32227</td>
                    <td>MUMBAI CENTRAL - NEW DELHI RAJDHANI EXPRESS</td>
                    <td>M,T,W,T,F,S</td>
                    <td>12:25</td>
                    <td>15 hours</td>
                    <td>16/04/2021</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>32229</td>
                    <td>AGRA CANTT - DELHI H NIZAMUDDIN GATIMAAN EXPRESS</td>
                    <td>M,T,W,T,F,S</td>
                    <td>12:25</td>
                    <td>15 hours</td>
                    <td>17/06/2021</td>
                </tr>
            </tbody>
          </table>
    </body>
</html>